<a href="https://colab.research.google.com/github/ermilovim/neuralnets/blob/master/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Занятие №1. Первые программы на Python

![alt text](https://drive.google.com/uc?export=view&id=1M05oSpwlZyh1-F-6E6P_PSmmLHUG6F0-)

Уважаемые слушатели, на первом уроке мы с вами познакомимся с синтаксисом, типами данных и основными конструкциями языка Python.

## Простейшие операции, типы данных, вывод на экран, базовые конструкции и функции

### Простейшие операции

In [ ]:
# Сложим два числа
2 + 2

In [ ]:
# Умножим два числа
2 * 3

In [ ]:
# Проверим операцию со скобками
3*(2 + 7)

In [ ]:
# Проверим еще и деление
32*(4 + 8)/10

In [ ]:
# А теперь поделим на 0!
32/0

In [ ]:
# Возведем число в степень
2**3

8

In [ ]:
# Команда для вывода на экран
print(2 * 2)
# Стоп! Раньше тоже происходил вывод на экран... 
# Результат последней строки каждого абзаца автоматически выводится на экран

4

### Строки
До сего момента мы работали только с числами. Для работы с текстом широко используется тип данных str (string)

In [ ]:
text = 'I like Data Science!'

In [ ]:
text

In [ ]:
type(text)

In [ ]:
# длина строки
len(text)

In [ ]:
# Со строками тоже можно проводить "арифметические" операции!
print(text * 3)
print(text + " Data Science like me too!")

In [ ]:
# Не все операции можно проводить со строками...
text**2

In [ ]:
text - "foo"

In [ ]:
# Так тоже нельзя. Нужно следить за типом данных!
"5" + 2

In [ ]:
# К символам допускается обращение как к элементам массива
text[5]

In [ ]:
# Обратная нумерация элементов - очень удобная вещь!
text[-3]

In [ ]:
# Также, можно делать срезы строк
print(text[3:])
print(text[7:11])
print(text[::3])

### FOR
**Цикл for** - наиболее часто используемая конструкция в Python.

Мы используем цикл **for** в тех случаях, когда вам нужно повторить что-нибудь n-ное количество раз

In [ ]:
# Это проще понять, если взглянуть на пример. 
# Мы используем встроенную функцию Python range.
# Функция range создаст список длинной в «n» элементов.
range(5)

In [ ]:
list(range(3, 7))

In [ ]:
list(range(1,10,2))

In [ ]:
# Теперь посмотрим на работу цикла for вместе с функцией range()
for i in range(57):
  print(i**3000)

In [ ]:
# Код выше аналогичен более понятному, но более громоздокому коду ниже
for i in [0, 1, 2, 3, 4]:
  print(i**2)

0
1
4
9
16

### IF - ELIF - ELSE
Условная инструкция if-elif-else (её ещё иногда называют оператором ветвления) - основной инструмент выбора в Python. Проще говоря, она выбирает, какое действие следует выполнить, в зависимости от значения переменных в момент проверки условия

**Проверка истинности**

* Любое число, не равное 0, или непустой объект - истина.
* Числа, равные 0, пустые объекты и значение None - ложь
* Операции сравнения возвращают True или False
* Логические операторы and и or возвращают истинный или ложный объект-операнд

In [ ]:
a = int(input())
if a < -5:
    print('Low')
elif -5 <= a <= 5:
    print('Mid')
elif 6 <= a <= 10:
  print(1111)
else:
    print('High')

57
High

### ЗАДАЧА 1

Вывести по одной букве в каждой строке в прямом порядке записи!

In [ ]:
for i in range(0,len(text)):
  # print(i)
  print(text[i])

I

l
i
k
e

D
a
t
a

S
c
i
e
n
c
e
!

### ЗАДАЧА 2

Вывести по одной букве в каждой строке в обратном порядке записи!

In [ ]:
for i in range(1,len(text)+1):
  print(text[-i])

!
e
c
n
e
i
c
S

a
t
a
D

e
k
i
l

I

### ЗАДАЧА 3

Вывести в строке i первые i символов текста объекта str!

**Пример**

text = 'data'

Результат работы программы:

d

da

dat

data

In [ ]:
for i in range(len(text)):
  print(text[:i])

## Структуры данных

### Списки. list.

Списки Python схожи с массивами в других языках.
вы можете создать список при помощи квадратных скобок, или при помощи встроенного инструмента Python – list.

In [ ]:
my_list = []
my_list = list()

Список состоит из таких элементов, как строки, цифры, объекты и смеси типов. Давайте взглянем на несколько примеров:

In [ ]:
my_list = [1,2,3,4,5,6,17,51,23]
my_list2 = ["a", "b", "c"]
my_list3 = ["a", 1, "Python", 5]

In [ ]:
# список списков
my_nested_list = [my_list, my_list2]

В какой-то момент вам может понадобиться скомбинировать два списка вместе. Первый способ сделать это – при помощи метода extend:

In [ ]:
combo_list = [1]
one_list = [4, 5]
a = combo_list.extend(one_list)

In [ ]:
# проще будет просто добавить два списка вместе
my_list = [1,2,3,4,5,6,17,51,23]
my_list2 = ["a", "b", "c"]
 
combo_list = my_list + my_list2

**Сортировка списков**

In [ ]:
alpha_list = [34, 23, 67, 100, 88, 2]
alpha_list.sort()

In [ ]:
alpha_list = [34, 23, 67, 100, 88, 2]
sorted_list = alpha_list.sort()
 
print(sorted_list)

В этом примере мы попытались назначить сортированный список переменной. Однако, когда вы вызываете метод sort() в списке, он сортирует список на месте. Так что если вы попробуете назначить результат другой переменной, тогда возникнет объект None, который аналогичен объекту Null в других языках. Таким образом, когда вам нужно отсортировать что-нибудь, просто помните, что вы сортируете на месте, и вы не можете назначить объект другой переменной.

### Кортежи. tuple.
Кортеж похож на список, но вы создаете его с круглыми скобками, вместо квадратных. Вы также можете использовать встроенный инструмент для создания кортежей. Разница в том, что кортеж неизменный, в то время как список может меняться. Давайте взглянем на несколько примеров:

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
a = my_tuple[0:3]
print(a)
 
another_tuple = tuple()
abc = tuple([1, 2, 3])

Данный код демонстрирует способ создания кортежа с пятью элементами. Также он говорит нам о том, что мы можете делать нарезку кортежей. Однако, вы не можете сортировать кортеж!

### Множества. set.

Множества в Python – это структура данных, которые содержат неупорядоченные элементы. Элементы также не является индексированным. Как и список, множество позволяет внесение и удаление элементов. Однако, есть ряд особенных характеристик, которые определяют и отделяют множество от других структур данных:

Множество не содержит дубликаты элементов;
Элементы множества являются неизменными (их нельзя менять), однако само по себе множество является изменяемым, и его можно менять;
Так как элементы не индексируются, множества не поддерживают никаких операций среза и индексирования.

In [ ]:
num_set = {1, 2, 3, 4, 5, 6, 6}  
num_set

In [ ]:
string_set = {"Nicholas", "Michelle", "John", "Mercy"}  
string_set

In [ ]:
mixed_set = {2.0, "Nicholas", (1, 2, 3)}  
mixed_set

In [ ]:
# мы также можем создать множество из списков
num_set = set([1, 2, 3, 4, 5, 6])  
num_set

In [ ]:
x = {}
type(x)

Создание пустого множества подразумевает определенную хитрость. Если вы используете пустые фигурные скобки {} в Python, вы скорее создадите пустой словарь, а не множество.
Чтобы создать пустое множество в Python, мы должны использовать функцию set() без передачи какого-либо значения в параметрах, как показано ниже:

In [ ]:
x = set()  
type(x)

In [ ]:
# доступ к элементам множеств
months = set(["Jan", "Feb", "March", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"])
 
for m in months:  
    print(m)

Мы также можем проверить наличие элемента во множестве при помощи in, как показано ниже:

In [ ]:
"May" in months

**Добавление элементов во множество**

Python позволяет нам вносить новые элементы во множество при помощи функции add().

In [ ]:
months.add("Feb")
months

### Словари. dict.

Словарь Python, по большей части, представляет собой хэш-таблицу. В некоторых языках, словари могут упоминаться как ассоциативная память, или ассоциативные массивы. Они индексируются при помощи ключей, которые могут быть любого неизменяемого типа. Например, строка или число могут быть ключом. Вам обязательно стоит запомнить тот факт, что словарь – это неупорядоченный набор пар ключ:значение, и ключи обязательно должны быть уникальными.

In [ ]:
my_dict = {}
another_dict = dict()
 
my_other_dict = {"one":1, "two":2, "three":3}
print(my_other_dict)

In [ ]:
# Вы можете получить список ключей путем вызова метода keys()
my_other_dict.keys()

In [ ]:
# добавим пару ключ-значение в непустой словарь
my_other_dict['four'] = 4
my_other_dict

In [ ]:
'five' in my_other_dict

In [ ]:
# вывод всех значений
my_other_dict.values()

### Задача 4

Найти индекс определенного числа в объекте list.

In [ ]:
# Найдем индекс определенного числа в list
a = 23
for i in range(len(my_list)):
  if my_list[i] == a:
    print(i)

In [ ]:
# Все уже изобретено до нас...
my_list.index(a)

### Задача 5

Найти максимальное (минимальное) значение в dict.

name_age = {'Дмитрий': 28,'Матвей2': 17, "Иван" : 14,'Алексей': 16, 'Матвей1': 34, 'Даниил':14}

In [ ]:
name_age = {'Дмитрий': 28,'Матвей2': 17, "Иван" : 14,'Алексей': 16, 'Матвей1': 34, 'Даниил':14}
max_age = 0
for name in name_age.keys():
  if name_age[name]> max_age:
    max_age = name_age[name]
max_age

### Задача 6

Найти индекс максимального (минимального) значения в list.

age = [28,17,14,16,34,54]

In [ ]:
age = [28,17,14,16,34,54]
max_age_index = 0 # в начале считаем, что максимальный элемент лежит под номером 0
for index in range(len(age)):
  if age[index] > age[max_age_index]:
    max_age_index = index
print(max_age_index)

## Функции и их аргументы

Функция в python - объект, принимающий аргументы и возвращающий значение. Обычно функция определяется с помощью инструкции def.

### Именные функции, инструкция def

In [ ]:
# определим простейшую функцию
def add(x, y):
    return x + y


Инструкция **return** говорит, что нужно вернуть значение. В нашем случае функция возвращает сумму x и y.

Теперь мы ее можем вызвать:

In [ ]:
add(1, 10)

In [ ]:
add('abc', 'def')

Функция может и не заканчиваться инструкцией return, при этом функция вернет значение None.

### Аргументы функции

Функция может принимать произвольное количество аргументов или не принимать их вовсе. Также распространены функции с произвольным числом аргументов, функции с позиционными и именованными аргументами, обязательными и необязательными.

In [ ]:
def func(a, b, c=2): # c - необязательный аргумент
    return a + b + c

print(func(1, 2))
print(func(1, 2, 3))
print(func(a=1, b=3))

In [ ]:
func(a=3, c=6)

Функция также может принимать переменное количество позиционных аргументов, тогда перед именем ставится *:

In [ ]:
def func(*args):
    return args

func(1, 2, 3, 'abc')

args - это кортеж из всех переданных аргументов функции, и с переменной можно работать также, как и с кортежем.

Функция может принимать и произвольное число именованных аргументов, тогда перед именем ставится **:

In [ ]:
def func(**kwargs):
    return kwargs

func(a=1, b=2, c=3)

В переменной kwargs у нас хранится словарь, с которым мы, опять-таки, можем делать все, что нам заблагорассудится.

### Анонимные функции, инструкция lambda

Анонимные функции могут содержать лишь одно выражение, но и выполняются они быстрее. Анонимные функции создаются с помощью инструкции lambda. Кроме этого, их не обязательно присваивать переменной, как делали мы инструкцией def func():

In [ ]:
func = lambda x, y: x + y
func(1, 2)

In [ ]:
(lambda x, y: x + y)(1, 2)

### Задача 7

Написать функцию, которая на вход принимает list, а возвращает максимальное значение в list

In [ ]:
def search_max_value(arr):
  max_element = arr[0]
  for i in range(len(arr)):
    if arr[i] > max_element:
      max_element = arr[i]
  return max_element

arr = [1,25,3,4,5,12,2,12]

print(search_max_value(arr))

### Задача 8

Написать функцию, которая на вход принимает list из слов, а возвращает самое длинное слово

In [ ]:
def search_max_word(arr):
    max_word = arr[0]
    for word in arr:
      if len(max_word) < len(word):
        max_word = word
    return max_word

arr = ['стул', 'математика','neural network','data science']

print(search_max_word(arr))

## Задачи

###Задача 1
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for elem in a:
    if elem < 5:
        print(elem)

###Задача 2
Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

result = []
for elem in a:
    if elem in b:
        result.append(elem)
result

In [ ]:
result = list(set(a) & set(b))
result

###Задача 3
Напишите функцию, которая проверяет, является ли строка палиндромом. 

Палиндром — это слово или фраза, которые одинаково читаются слева направо и справа налево.

In [ ]:
def is_palindrome(string):
    return string == string[::-1]

is_palindrome('abba')